.dark,
.dark-theme {
  --gray-1: #000;
  --gray-2: #121214;
  --gray-3: #27282a;
  --gray-4: #1e1f21;
  --gray-5: #383a3d;
  --gray-6: #2f3033;
  --gray-7: #46484c;
  --gray-8: #5d6065;
  --gray-9: #6b6e74;
  --gray-10: #797c82;
  --gray-11: #b2b4b9;
  --gray-12: #edeeef;

  --gray-a1: #00000000;
  --gray-a2: #e6e6ff14;
  --gray-a3: #e8f0ff21;
  --gray-a4: #edf3ff2a;
  --gray-a5: #ebf0ff33;
  --gray-a6: #ebf3ff3d;
  --gray-a7: #ebf2ff4c;
  --gray-a8: #ebf3ff65;
  --gray-a9: #ecf2ff74;
  --gray-a10: #eef4ff82;
  --gray-a11: #f6f8ffb9;
  --gray-a12: #fdfeffef;

  --gray-contrast: #ffffff;
  --gray-surface: rgba(0, 0, 0, 0.05);
  --gray-indicator: #6b6e74;
  --gray-track: #6b6e74;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --gray-1: oklch(0% 0.0031 264.5);
      --gray-2: oklch(18.3% 0.0031 264.5);
      --gray-3: oklch(23.9% 0.0043 264.5);
      --gray-4: oklch(27.5% 0.0054 264.5);
      --gray-5: oklch(30.8% 0.006 264.5);
      --gray-6: oklch(34.5% 0.0071 264.5);
      --gray-7: oklch(39.8% 0.0085 264.5);
      --gray-8: oklch(49% 0.011 264.5);
      --gray-9: oklch(53.8% 0.01 264.5);
      --gray-10: oklch(49.1% 0.011 264.5);
      --gray-11: oklch(76.9% 0.0067 264.5);
      --gray-12: oklch(94.8% 0.0013 264.5);

      --gray-a1: color(display-p3 0 0 0 / 0);
      --gray-a2: color(display-p3 0.8941 0.8941 0.9961 / 0.079);
      --gray-a3: color(display-p3 0.9059 0.9373 0.9961 / 0.13);
      --gray-a4: color(display-p3 0.9059 0.9529 1 / 0.165);
      --gray-a5: color(display-p3 0.902 0.9412 1 / 0.2);
      --gray-a6: color(display-p3 0.902 0.9333 1 / 0.24);
      --gray-a7: color(display-p3 0.9059 0.9333 1 / 0.299);
      --gray-a8: color(display-p3 0.9216 0.9412 1 / 0.4);
      --gray-a9: color(display-p3 0.9412 0.9569 1 / 0.451);
      --gray-a10: color(display-p3 0.9216 0.9529 1 / 0.4);
      --gray-a11: color(display-p3 0.9686 0.9765 1 / 0.722);
      --gray-a12: color(display-p3 0.9961 1 1 / 0.934);

      --gray-contrast: #fff;
      --gray-surface: color(display-p3 0.1412 0.1412 0.149 / 0.5);
      --gray-indicator: oklch(53.8% 0.01 264.5);
      --gray-track: oklch(53.8% 0.01 264.5);
    }
  }
}
