.dark,
.dark-theme {
  --purple-1: #000;
  --purple-2: #100f1f;
  --purple-3: #211c44;
  --purple-4: #2d2361;
  --purple-5: #372e6f;
  --purple-6: #423a7c;
  --purple-7: #100f1f;
  --purple-8: #50498d;
  --purple-9: #625ca2;
  --purple-10: #352c6d;
  --purple-11: #b0acf9;
  --purple-12: #dfdeff;

  --purple-a1: #00000000;
  --purple-a2: #847cff1f;
  --purple-a3: #7c69ff44;
  --purple-a4: #775dff61;
  --purple-a5: #7f6aff6f;
  --purple-a6: #8878ff7c;
  --purple-a7: #9184ff8d;
  --purple-a8: #9b91ffa2;
  --purple-a9: #7c69ff44;
  --purple-a10: #7c67ff6d;
  --purple-a11: #b4b0fff9;
  --purple-a12: #dfdeff;

  --purple-contrast: #fff;
  --purple-surface: #201e3e80;
  --purple-indicator: #211c44;
  --purple-track: #211c44;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --purple-1: oklch(0% 0.0261 285.8);
      --purple-2: oklch(17.8% 0.0329 285.8);
      --purple-3: oklch(25.6% 0.0726 285.8);
      --purple-4: oklch(30.7% 0.1045 285.8);
      --purple-5: oklch(34.8% 0.1089 285.8);
      --purple-6: oklch(39.1% 0.1089 285.8);
      --purple-7: oklch(44.5% 0.1089 285.8);
      --purple-8: oklch(51.2% 0.1089 285.8);
      --purple-9: oklch(17.8% 0.0329 285.8);
      --purple-10: oklch(34.1% 0.1089 285.8);
      --purple-11: oklch(77.7% 0.1089 285.8);
      --purple-12: oklch(91.3% 0.0475 285.8);

      --purple-a1: color(display-p3 0 0 0 / 0);
      --purple-a2: color(display-p3 0.5333 0.502 1 / 0.118);
      --purple-a3: color(display-p3 0.4863 0.4275 1 / 0.259);
      --purple-a4: color(display-p3 0.4627 0.3765 1 / 0.365);
      --purple-a5: color(display-p3 0.5059 0.4314 1 / 0.42);
      --purple-a6: color(display-p3 0.5451 0.4863 1 / 0.471);
      --purple-a7: color(display-p3 0.5765 0.5333 1 / 0.538);
      --purple-a8: color(display-p3 0.6196 0.5882 1 / 0.616);
      --purple-a9: color(display-p3 0.4863 0.4275 1 / 0.259);
      --purple-a10: color(display-p3 0.498 0.4196 1 / 0.412);
      --purple-a11: color(display-p3 0.7216 0.7098 1 / 0.953);
      --purple-a12: color(display-p3 0.8824 0.8784 1 / 0.989);

      --purple-contrast: #fff;
      --purple-surface: color(display-p3 0.1255 0.1176 0.2353 / 0.5);
      --purple-indicator: oklch(25.6% 0.0726 285.8);
      --purple-track: oklch(25.6% 0.0726 285.8);
    }
  }
}
