@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes collapsible-down {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes collapsible-up {
  0% {
    opacity: 1;
    height: var(--radix-collapsible-content-height);
  }
  100% {
    height: 0;
    opacity: 0;
  }
}

@keyframes accordion-down {
  0% {
    height: 0;
  }
  100% {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  0% {
    height: var(--radix-accordion-content-height);
  }
  100% {
    height: 0;
  }
}

@keyframes collapsible-left {
  0% {
    width: 0;
  }
  100% {
    width: var(--radix-collapsible-content-width);
  }
}

@keyframes collapsible-right {
  0% {
    width: var(--radix-collapsible-content-width);
  }
  100% {
    width: 0;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-right-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slide-right-out {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pop-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}
